.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #563434;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 45px;
    height: 30px;
    padding-left: 12px;
    font-size: 18px;
    margin-right: 10px;
    border: 1px solid #693a1f;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: medium;
}

td button {
    color: #ff523b;
    font-size: 12px;
    cursor: pointer;
    padding: 3px 6px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #563434;
    width: 100%;
    max-width: 350px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.cart-page .pay-btn {
    display: flex;
    justify-content: flex-end;
}

small {
    color: black;
}

.delete-btn {
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
    appearance: none;
    background-color: transparent;
    border: 2px solid #ff523b;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: normal;
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.delete-btn:disabled {
    pointer-events: none;
}

.delete-btn:hover {
    color: #fff;
    background-color: #ff523b;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.delete-btn:active {
    box-shadow: none;
    transform: translateY(0);
}