/* index */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 ul {
    margin-left: 233px;
    list-style-type: none;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.btn:hover {
    background: #563434;
}

.header, .banner {
    background: radial-gradient(#F4E4DC, #F4E4DC);
}

.header .row {
    margin-top: 40px;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    margin-bottom: 30px;
    min-width: 250px;
}

.col-3 img {
    width: 300px;
    height: 400px;
}

/* navbar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

.navbar form {
    margin-left: 25px;
    margin-right: 20px;
    display: flex;
    height: 40px;
    width: 400px;
    border-radius: 2px;
    padding: 2px;
    background: black;
    min-width: 18% !important;
    border: 2px solid rgba(155, 155, 155, 0.2);
}

.navbar form .search-data {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    color: white;
    font-weight: 600px;
    background: none;
    border: none;
}

.navbar form button {
    width: 50px;
    padding: 0 15px;
    background: #ff523b;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    border-radius: 2px;
}

.navbar .search-icon {
    width: 30px;
    height: 30px;
    margin-right: 17px;
    cursor: pointer;
    display: none;
}

/* -------- media query for menu -------- */

@media only screen and (max-width:800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.3s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

/* footer */
.footer {
    background: #f8f7f4;
    color: #000;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer h3 {
    color: #693a1f;
    margin-bottom: 20px;
}

.app-logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.app-logo img {
    margin-right: 10px;
    width: 15%;
    cursor: pointer;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.footer-col-3{
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-col-3 img {
    width: 50px;
    height: 50px;
}

.detail-content-footer {
    width: calc(100% - 50px);
    padding-left: 25px;
    line-height: 1.1;
}

.title-footer {
    color: #693a1f;
    font-weight: bolder;
    padding-bottom: 7px;
    display: block;
}

.subtitle-footer {
    color: #693a1f;
    font-size: small;
    font-style: italic;
    display: block;
}

/* products */
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.3s;
}

.col-4 img {
    width: 225px;
    height: 300px;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: orange;
}

.col-4:hover {
    transform: translateY(-15px);
}

/* -------- all products page -------- */

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
    padding-left: 15px;
    padding-right: 17px;
}

select {
    border: 1px solid 693a1f;
    padding: 5px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
    display: flex;
    justify-content: center;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #693a1f;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #693a1f;
    color: #fff;
}

.active-pagination > span {
    background: #693a1f;
    color: #fff;
}

/* -------- single product details -------- */

.single-product {
    margin-top: 80px;
}

.single-product p {
    text-align: justify;    
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 12px;
    font-size: 18px;
    margin-right: 10px;
    border: 1px solid #693a1f;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

input:focus {
    outline: none;
}

.single-product .fa {
    color: #ff523b;
    margin-left: 10px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

/* cart */
.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #563434;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 45px;
    height: 30px;
    padding-left: 12px;
    font-size: 18px;
    margin-right: 10px;
    border: 1px solid #693a1f;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: medium;
}

td button {
    color: #ff523b;
    font-size: 12px;
    cursor: pointer;
    padding: 3px 6px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #563434;
    width: 100%;
    max-width: 350px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.cart-page .pay-btn{
    display: flex;
    justify-content: flex-end;
}

/* responsive */
/* -------- media query for less than 600 screen size -------- */

@media only screen and (max-width:600px) {
    .row {
        text-align: center;
    }

    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }

    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }

    .cart-info p {
        display: none;
    }
}